{
  "presets": [
    [
      "env",
      {
        "targets": {
          "safari": 10,
          "browsers": [
            "last 2 versions",
            "ie >= 7"
          ]
        }
      }
    ],
    "stage-2",
    "react",
    "react-boilerplate"
  ],

  "plugins": [
    "react-hot-loader/babel",
    "dynamic-import-node"
  ]
}