.skill-tabs {
    .tabs-nav {
        .tabs-menu {
            @apply .flex .mt-8;

            .tabs-menu-item {
                @apply .float-left m-0;
                padding: 2rem;
                text-align: center;
                border-bottom: .1rem solid var(--secondaryColor);

                h3 {
                    @apply .mt-4;
                    font-weight: 300;
                }

                &.active {
                    border: .1rem solid var(--secondaryColor);
                    border-bottom: none;
                    color: var(--secondaryColor);

                    h3 {
                        font-weight: 700;
                    }
                }

                &:focus {
                    outline: 0;
                }
            }
        }
    }

    .tab-content {
        @apply .flex .flex-wrap .p-8;
        border: .1rem solid var(--secondaryColor); 
        border-top: none;

        .skill {
            @apply .p-2 .w-1/2 .flex;

            &:hover {
                .skill-name {
                    color: var(--secondaryColor);
                }

                .rating-wrapper .rating {
                    transition-duration: 200ms;
                    background-color: var(--secondaryColor);
                }
            }

            .skill-name {
                @apply .w-32;
                transition-property: color;
                transition-duration: 200ms;
                transition-timing-function: ease-in-out;

                .icon-wrapper {
                    @apply .inline-block .text-center;
                    width: 2rem;
                }
            }


            .rating-wrapper {
                @apply .flex-auto .h-4 .mr-2;
                border: .1rem solid var(--primaryColor);

                .rating {
                    @apply .h-4;
                    background-color: color(var(--primaryColor) alpha(80%));
                    transition-property: width, background-color;
                    transition-duration: 1s;
                    transition-timing-function: ease-in-out;
                    width: 0%;

                    &.rating-10 {
                        width: 10%;
                    }
                    &.rating-20 {
                        width: 20%;
                    }
                    &.rating-30 {
                        width: 30%;
                    }
                    &.rating-40 {
                        width: 40%;
                    }
                    &.rating-50 {
                        width: 50%;
                    }
                    &.rating-60 {
                        width: 60%;
                    }
                    &.rating-70 {
                        width: 70%;
                    }
                    &.rating-80 {
                        width: 80%;
                    }
                    &.rating-90 {
                        width: 90%;
                    }
                    &.rating-100 {
                        width: 100%;
                    }
                }
            }

            .skill-image-icon {
                max-height: 14px;
            }
        }
    }
}